.personalPortrait {
  border-color: var(--accent-a8);
  border-width: 2px;
  border-radius: 9999px;
}

.coverPhoto {
  border-radius: var(--card-border-radius);
  box-shadow: var(--base-card-surface-box-shadow);
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
