body {
  @mixin dark {
    --mantine-color-body: var(--mantine-color-dark-9);
    --mantine-color-primary-text: var(--mantine-color-primary-filled);
    --mantine-color-anchor: var(--mantine-color-primary-filled);
  }
}

::selection {
  background-color: var(--mantine-primary-color-light);
}
