@import 'tailwindcss/base';
@import '@radix-ui/themes/tokens/base.css';
@import '@radix-ui/themes/tokens/colors/indigo.css';
@import '@radix-ui/themes/tokens/colors/slate.css';
@import '@radix-ui/themes/components.css';
@import '@radix-ui/themes/utilities.css';

@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0;
  }

  ol,
  ul {
    @apply m-0 p-0;
  }

  img,
  svg {
    @apply block;
  }

  *,
  ::before,
  ::after {
    @apply border-0 border-solid;
  }
}

.radix-themes {
  --default-font-family: var(--font-noto-sans);
  --code-font-family: var(--font-noto-sans-mono);
  --em-font-family: var(--font-noto-serif);
  --quote-font-family: var(--font-noto-serif);
}

.rt-Container {
  @apply px-rx-5;
}

@media (pointer: coarse) {
  .rt-BaseButton:where(.rt-variant-solid):where(
      :active:not([data-state='open'])
    ) {
    @apply outline-none;
  }

  .rt-Link:where(:any-link, button):where(
      :active:not(:focus-visible, [data-state='open'])
    ) {
    @apply outline-none;
  }
}
