.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  padding-top: calc(var(--mantine-spacing-xl) * 2.5);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.colorSchemeToggle {
  position: absolute;
  top: var(--mantine-spacing-xl);
  right: var(--mantine-spacing-xl);
}

.header {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  text-align: center;
}

.profilePic {
  margin-bottom: var(--mantine-spacing-md);
  outline: 6px solid var(--mantine-primary-color-filled);
  outline-offset: 6px;
  border-radius: 100%;
}

.paragraph {
  &:not(:last-of-type) {
    margin-bottom: var(--mantine-spacing-md);
  }
}

.footer {
  display: flex;
  gap: var(--mantine-spacing-md);
  justify-content: center;
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
}
