.duration {
  line-height: var(--heading-line-height-4);
}

.description {
  list-style: disc;

  & > li {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
  }
}

.mediaImage {
  object-fit: cover;
  border-radius: var(--card-border-radius);
  box-shadow: var(--base-card-surface-box-shadow);
}
