.coverPhotoContainer {
  aspect-ratio: 16 / 9;
  border-radius: var(--card-border-radius);
  box-shadow: var(--base-card-surface-box-shadow);
}

.coverPhoto {
  object-fit: cover;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
