.coverImageContainer {
  aspect-ratio: 16 / 9;
  border-radius: var(--radius-6);
  box-shadow: var(--base-card-surface-box-shadow);
}

.list {
  ol& {
    list-style-type: decimal;
  }

  ul& {
    list-style-type: disc;
  }

  & > li {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
  }
}

.code {
  padding: var(--card-padding);
  padding-right: 40px;
  background-color: var(--accent-2);

  & > span[data-highlighted-line] {
    padding-right: 40px;
    padding-left: var(--card-padding);
    margin-right: -40px;
    margin-left: calc(-1 * var(--card-padding));
    background-color: var(--accent-a3);
  }
}
